<div class="center hero-unit">
  <h1>Oh Hai.</h1>
  <p>This is <%= link_to 'Tooler',  "http://tooler.com" %>
  </p>

  <p> <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
  <p> <%= link_to 'New Employee', new_employee_path, class: "btn btn-large btn-primary" %> </p>
  <p> <%= link_to 'New Item', new_item_path, class: "btn btn-large btn-primary" %> </p>
</div>
