<div class="center hero-unit">
  <h1>Oh Hai.</h1>
  <p>This is <%= link_to 'Tooler',  "http://tooler.com" %>
  </p>

  <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>
